#tabla1{
    border: 1px solid #1E679A;
    width: 580px;
    background-color: #6CD4E1;
   }
#tabla2{
  background-color: azure;
    border: 1px solid #1E679A;
    width: 590px;
  }

body {
  background-color: #DAF7A6;
  }
hr{
  color: rgb(0, 0, 0);
  border: solid 1px;
}
