/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos de navegación */
nav {
    background-color: #f0f0f0;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: z;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Estilos de asignaturas y temas */
.asignatura,
.tema {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

/* Estilos de botones */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

textarea{
    height: 20px;
}
/* Estilos para el visor de PDF */
/* Estilos para la lista de enlaces de PDF */
.pdf-list {
    list-style: none;
    padding: 0;
}

.pdf-list li {
    margin-bottom: 10px;
}

.pdf-list a {
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.pdf-list a:hover {
    background-color: #2980b9;
}

.asignatura a {
    background-color: #448c96;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
    background-color: #2980b9;
}

.boxes a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
}
.boxes a:hover{
    background-color: gray;
}

hr{
    border: solid 3px gray;
}

h2{
    padding-left: 8px;
}
