body{
    margin: 0;
    font-size: 30px;
    background-color: rgb(235, 221, 195);
}
header{
    text-align: center;
    top: 0;
    padding: 5px;
    background-color: #e63946;
    position: sticky;
}

div{
    margin: 15px;
}

.d1, .d2, .d3{
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}

.d1{
    background-color: #a10916;
    padding: 10px;
}
.d1 h2{
    text-align: center;
    color: aliceblue;
}
.d1 p{
    background-color: #a10916;
    color: white;
    padding:6%;
}

.d2{
    padding: 10px;
    background-color: #b14895;
    text-align: center;
}

.d2 li{
    list-style: none;
}

.d2 li:hover{
    background-color: #9c3580;
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
}

.d3{
    padding: 10px;
    background-color: #a10916;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.galeria img {
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

footer{
    background-color: #e63946;
    padding: 10px;
    text-align: center;
}

footer p{
    float: right;
}
