body {
    background-color: #050505;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 3px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 2px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 3px);
    background-size: 550px 550px, 350px 350px, 250px 250px;
    background-position: 0 0, 40px 60px, 130px 270px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #ff0055;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 0 0 10px #ff0055, 0 0 20px #ff0055;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.cabinet {
    background: #111;
    padding: 20px;
    border: 4px solid #333;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 100, 255, 0.2);
    text-align: center;
}

canvas {
    background: #000;
    width: 512px;
    height: 480px;
    border: 2px solid #555;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
    image-rendering: pixelated;
}

.controls {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 0.9rem;
    color: #aaa;
}

.key-badge {
    background: #222;
    border: 1px solid #444;
    padding: 4px 8px;
    border-radius: 4px;
    color: #00d2ff;
    font-weight: bold;
}

button{
    border: 2px solid #00d2ff;
    color: #00d2ff;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
button:hover{
    background-color: #03a5c9;
    color: #79e6ff;
}
#status {
    margin-top: 10px;
    color: #ff0055;
    font-size: 0.8rem;
    min-height: 1.2em;
}